.git
.github
.next
out
build
node_modules
coverage
dist
.vercel
.turbo
.cache
.pnpm-store
content/.trash
content/blog/**/main.[1-4].md
content/blog/**/.main*.tmp
*.log
*.tsbuildinfo
*.pem
.DS_Store
.env
.env*
!.env.example
README.md
